* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3 {
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
}

body {
    background-color: #f4f4f4;
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: 
            linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
    color: white;
    padding: 0px 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar_btn:hover {
    transition: 0.2s;
    color: #b35000;
    text-decoration: none;
}

#current_page {
    color: #b35000;
}


.btn:hover {
    transition: 0.2s;
    padding: 5px 20px;
    background: #b35000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.hero {
    height: 95vh;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://images.unsplash.com/photo-1558611848-73f7eb4001a1') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
    background-attachment: fixed;
}

.hero-text h1 {
    font-size: 65px;
}

.hero-text p {
    margin: 20px 0;
}

.page-bg {
    min-height: 100vh;
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url('https://images.unsplash.com/photo-1558611848-73f7eb4001a1') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.form-section {
    max-width: 400px;
    width: 100%;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.form-section h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    text-align: left;
    margin-top: 10px;
}

form input, form select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    margin-top: 20px;
}

#limitazioni{
    margin-top: 20px;
    font-weight: bold;
    color:#fe7303;
}

#messaggio{
    margin-top: 20px;
}

.btn {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 20px;
    background: #fe7303;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


.services {
    padding: 60px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.pricing-section {
    text-align: center;
    padding: 60px 20px;
}

.pricing-section h2{
    color: white;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.pricing-card {
    background: white;
    padding: 30px;
    width: 280px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.pricing-card .btn {
    display: inline-block;
    margin-top: 20px;
}

.pricing-card h3 {
    font-size: 2rem;
}

.price {
    font-size: 2rem;
    margin: 15px 0;
    font-weight: bold;
}

.featured{
    border: 3px solid #fe7303;
    position: relative;
}


.best-seller {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 75px;
    font-size: 0.75rem;
    font-weight: 600;
    color: #fe7303;
    background: rgba(230, 57, 70, 0.08);
    padding: 2px 8px;
    border-radius: 20px;
}

.contact-form textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
}

.contact-details {
    padding: 80px 20px;
}

.contact-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 40px;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-left {
    flex: 1;
    min-width: 320px;
}

.contact-left h2 {
    margin-bottom: 25px;
    font-size: 3rem;
}

.info-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.info-box h3 {
    margin-bottom: 8px;
}

.contact-right {
    flex: 1;
    min-width: 320px;
}

.gmap_iframe {
    width: 100%;
    height: 100%;
    min-height: 500px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.cta {
    background: #111;
    color: white;
    text-align: center;
    padding: 50px;
}

.cta .btn {
    margin-top: 15px;
    display: inline-block;
}


footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
